.dashboard {
  .top-hero-grid-item {
    background-color: map-get($colors, primary);
    color: map-get($colors, light);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
