<ion-navbar *navbar>
  <ion-title>Dashboard</ion-title>
</ion-navbar>

<ion-content padding class="dashboard">
  <h2>Top Heroes</h2>
  <ion-row wrap>
    <ion-col width-50 *ngFor="#hero of heroes" (click)="onSelectHero(hero)">
      <div class="top-hero-grid-item">
        {{hero.id}} - {{hero.name}}
      </div>
    </ion-col>
  </ion-row>
  <div>
    <h4>New Hero:</h4>
    <input #newHero />
    <button (click)="addHero(newHero.value); newHero.value=''">
      Add Hero
    </button>
  </div>
</ion-content>
